<nav class="navbar is-black play-navbar">
    <div class="container">
        
        <!--Left side-->
        <div class="navbar-brand">
            
        </div>
        <!--End of Left side-->
    
        <!--Right side-->
        <div class="navbar-menu">
            <!--Left part of the menu-->
            <div class="navbar-start">
    
            </div>
            <!--End of Left part of the menu-->
    
            <!--Right part of the menu-->
            
            <div class="navbar-end">
                <a href="/play/roulette" class="navbar-item">
                    <span id="navbar-roulette">Roulette</span>
                </a>
                <a href="/play/versus" class="navbar-item">
                    <span id="navbar-versus">Versus</span>
                </a>
                <a href="/play/dices" class="navbar-item">
                    <span id="navbar-dices">Dices</span>
                </a>
            </div>
            <!--End of Right part of the menu-->
        </div>
        <!--End of Right side-->
    </div>  
</nav>
    