<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://use.fontawesome.com/0f862e59ba.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

<nav class="navbar is-dark user-navbar" id="navbar-app">
        <!--Left side-->
        <div class="navbar-brand">
            <a href="/" class="navbar-item navbar-element" >
                <span><i class="fa fa-home" aria-hidden="true"></i>&nbsp Home</span>
            </a>
            
            <div class="navbar-burger burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        
        <!--End of Left side-->
    
        <!--Right side-->
        <div class="navbar-menu">
            <!--Left part of the menu-->
            <div class="navbar-start">
                <a href="/play/roulette" class="navbar-item navbar-element">
                    <span><i class="fa fa-gamepad" aria-hidden="true"></i>&nbsp Roulette</span>
                </a>
                <!--<a href="/play/versus" class="navbar-item">
                    <span id="navbar-versus">Versus</span>
                </a> -->
                <a href="/play/dice" class="navbar-item navbar-element">
                    <span><i class="fa fa-gamepad" aria-hidden="true"></i>&nbsp Dice</span>
                </a>
            </div>
            <!--End of Left part of the menu-->
            
            <!--Right part of the menu-->
            
            <div class="navbar-end">
                <a href="/user/login" class="navbar-item navbar-element" v-show="!user">
                    <span><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp Login</span>
                </a>
                <a href="/user/signup" class="navbar-item navbar-element" v-show="!user"> 
                    <span><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp SignUp</span>
                </a>
                <div class="navbar-item" v-show="user"><span id="user-balance"><i class="fa fa-money" aria-hidden="true"></i> </span></div>
                <a href="/user/myaccount" class="navbar-item navbar-element" v-show="user">
                    <span><i class="fa fa-user" aria-hidden="true"></i>&nbsp;</span>
                </a>
            </div>
            <!--End of Right part of the menu-->
        </div>
        <!--End of Right side-->
</nav>

<script>
    var protocol = window.location.protocol;
    var host = window.location.hostname;
    var port = window.location.port; 
    var IOName = 'user';
    
    var url = `${protocol}//${host}:${port}/${IOName}`;
    var userDetails = io(url);

    let userApp = new Vue({
        el: '#navbar-app',
        data:{
            user:undefined
        },
        beforeCreated()
        {   
            
        },
        created(){
            userDetails.on('sendUserDetails', function(data){
                console.log(data);
            })
        }
    });
</script>
