<nav class="navbar is-black user-navbar">
    <div class="container">
        <!--Left side-->
        <div class="navbar-brand">
        
            <a href="/" class="navbar-item"><span id="gambling-logo"></span></a>
            
            <div class="navbar-burger burger">
                        <span></span>
                        <span></span>
                        <span></span>
            </div>
        </div>
    
        
        <!--End of Left side-->
    
        <!--Right side-->
        <div class="navbar-menu">
            <!--Left part of the menu-->
            <div class="navbar-start">
    
            </div>
            <!--End of Left part of the menu-->
    
            <!--Right part of the menu-->
            
            <div class="navbar-end">
            <% if(!user){ %> 
                <a href="/user/login" class="navbar-item">
                    <span class="navbar-user">Login</span>
                </a>
                <a href="/user/signup" class="navbar-item">
                    <span class="navbar-user">SignUp</span>
                </a>
            <% }else{ %>
                <div class="navbar-item"><span class="navbar-user"><%=user.balance %></span></div>
                <a href="/user/myaccount" class="navbar-item">
                    <span class="navbar-user"><%=user.username %></span>
                </a>
            <% } %>
            </div>
            <!--End of Right part of the menu-->
        </div>
        <!--End of Right side-->
    </div>
</nav>
