<% include ./components/header.ejs %>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

<div class="columns" id="dice-app">
    <div class="column">
        
    </div>

    <div class="column is-9">
        <div>{{message}}</div>
        <div id="dice-box"><span id="roll-dice"> &#9856;</span></div>
        <div class="columns">
            <div class="column">
                <input class="input" id="amount" name="amount" type="text" v-model="amount">
            </div>
            <div class="column">
                <button type="button" class="button is-primary" id="x2"><span>X*2</span></button>
            </div>
            <div class="column">
                <button type="button" class="button is-primary" id="div2"><span>X/2</span></button>
            </div>
            <div class="column">
                <button type="button" class="button is-primary" id="clear"><span>Clear</span></button>
            </div>
        </div>
            <div class="columns">
                <div class="column">
                    <button class="button is-link" value="1" @click="Bet($event)">1</button>
                </div>
                <div class="column">
                    <button class="button is-link" value="2" @click="Bet($event)">2</button>
                </div>
                <div class="column">
                    <button class="button is-link" value="3" @click="Bet($event)">3</button>
                </div>
                <div class="column">
                    <button class="button is-danger"value="4" @click="Bet($event)">4</button>
                </div>
                <div class="column">
                    <button class="button is-danger" value="5" @click="Bet($event)">5</button>
                </div>
                <div class="column">
                    <button class="button is-danger" value="6" @click="Bet($event)">6</button>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <button class="button is-link" value="low" @click="Bet($event)">Low [1 to 3]</button>
                </div>
                <div class="column">
                    <button class="button is-danger" value="high" @click="Bet($event)">High [4 to 6]</button>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./components/footer.ejs %>

<script>
    var myDice = io('http://localhost:3000/my-dice', {forceNew: false});

    const app = new Vue({
        el: '#dice-app',
        data:{
            message: 'Waiting',
            amount: 0,
        },
        methods:{
            Bet(event){
                myDice.emit('bet', {amount: app.amount,option: event.target.value});
            }
        },
        mounted(){
            myDice.on('message', function(message){
                app.message = message;
            });
        }
    });
</script>


<style scoped>

    .box{
        margin-top: 10px;
    }

    .button{
        color: white;
        width:100%;
    }

    .button:hover{
        color: white;
    }

</style>