<% include ./components/header.ejs %>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

<div class="columns" id="dice-app">
    <div class="column">
        
    </div>

    <div class="column is-9">
        <h1 class="title is-5 message ">{{message}}</h1>
        <div class="columns">
            <div class="column">
                <input class="input" id="amount" name="amount" type="text" v-model="amount">
            </div>
            <div class="column">
                <button type="button" class="button is-primary" id="x2"><span>X*2</span></button>
            </div>
            <div class="column">
                <button type="button" class="button is-primary" id="div2"><span>X/2</span></button>
            </div>
            <div class="column">
                <button type="button" class="button is-primary" id="clear"><span>Clear</span></button>
            </div>
        </div>
            <div class="columns">
                <div class="column">
                    <button class="button is-link" value="1" :disabled="!btnActive" @click="Bet(event)">1</button>
                </div>
                <div class="column">
                    <button class="button is-link" value="2" :disabled="!btnActive" @click="Bet(event)">2</button>
                </div>
                <div class="column">
                    <button class="button is-link" value="3" :disabled="!btnActive" @click="Bet(event)">3</button>
                </div>
                <div class="column">
                    <button class="button is-danger"value="4" :disabled="!btnActive" @click="Bet(event)">4</button>
                </div>
                <div class="column">
                    <button class="button is-danger" value="5" :disabled="!btnActive" @click="Bet(event)">5</button>
                </div>
                <div class="column">
                    <button class="button is-danger" value="6" :disabled="!btnActive" @click="Bet(event)">6</button>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <button class="button is-link" value="low" :disabled="!btnActive" @click="Bet(event)">Low [1 to 3]</button>
                </div>
                <div class="column">
                    <button class="button is-danger" value="high" :disabled="!btnActive" @click="Bet(event)">High [4 to 6]</button>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./components/footer.ejs %>

<script>
    var myDice = io('http://localhost:3000/my-dice', {forceNew: false});

    const app = new Vue({
        el: '#dice-app',
        data:{
            message: 'Waiting',
            amount: 0,
            btnActive: true,
        },
        methods:{
            Bet(event){
                myDice.emit('bet', {amount: app.amount,option: event.target.value});
                this.btnActive = false;
            }
        },
        mounted(){
            myDice.on('message', function(message){
                app.message = message;
                app.btnActive = true;
            });
        }
    });
</script>


<style scoped>
#background:after{
content: "";
z-index: -1;
top: 0px;
bottom: 0px;
position: absolute;
background-image: url('/dice-background.jpg');
background-position: center;
background-size: cover;
width: 100%;
height: 100%;
opacity: .85;
}

.box{
    margin-top: 10px;
}

.button{
    color: white;
    width:100%;
}

.button:hover{
    color: white;
}

.message{
    background: initial;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

</style>