<% include ./components/header.ejs %>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

<div class="container is-fluid">
    <div class="columns" id="index-app">
        <div class="column">
            <div class="info-box">
                <h1 class="title game-title is-3">Roulette</h1>
                <div class="content">
                    <h1 class="title info-title is-5">Total players: {{rouletteTotalPlayers}}</h1>
                    <h1 class="title info-title is-5">Total wagered: {{rouletteTotalWagered}}</h1>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="info-box">
                <h1 class="title game-title is-3">Dice</h1>
                <div class="content">
                    <h1 class="title info-title is-5">Total players: {{diceTotalPlayers}}</h1>
                    <h1 class="title info-title is-5">Total wagered: {{diceTotalWagered}}</h1>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="info-box">
                <h1 class="title game-title is-3">Versus</h1>
                <div class="content">
                    <h1 class="title info-title is-5">Total players: </h1>
                    <h1 class="title info-title is-5">Total wagered: </h1>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    var indexDetails = io('http://localhost:3000/index-details', {forceNew: false});

    const app = new Vue({
        el:'#index-app',
        data:{
            rouletteTotalPlayers: undefined,
            rouletteTotalWagered: undefined,

            diceTotalPlayers: undefined,
            diceTotalWagered: undefined,
        },
        methods:{
        },
        mounted(){
            indexDetails.on('sendRouletteData', function(data){
                app.rouletteTotalPlayers = data.totalPlayers.length;
                app.rouletteTotalWagered = data.totalWagered;
            });

            indexDetails.on('sendDiceData', function(data){
                app.diceTotalPlayers = data.totalPlayers.length;
                app.diceTotalWagered = data.totalWagered;
            });
        }
    });
</script>

<style scoped>
.game-title{
    text-align: center;
    width: 100%;
    padding: 20px 0px;
    color: white;
    background-color: #363636;
}

.info-box{
    color: white;
    background-color: #5e5e5e;
}

.content .info-title{
    margin: 0px 10px;
    color: white;
}

.info-title:last-child{
    padding-bottom: 20px;
}

</style>

<% include ./components/footer.ejs %>
