<% include ./components/header.ejs %>

<div class="columns">
    <div class="column">
        <div class="roulette box">
            <div class="title"><a href="/play/roulette"><span>Roulette</span></a></div>
            <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida justo sit amet scelerisque pellentesque.
                    Aenean volutpat turpis nec sagittis commodo. Aliquam blandit dictum tincidunt. Fusce non molestie nunc.
                    Nulla ullamcorper varius tortor quis efficitur. In luctus, magna id ultricies mollis, ipsum sem volutpat ipsum,
                    at faucibus elit diam nec lectus. Proin non ultricies odio. Sed iaculis sodales nibh.
                    Aenean eu sapien in mi commodo venenatis. In vel placerat quam. Vivamus pulvinar massa at lacus euismod,
                    eget ornare orci scelerisque. Etiam in nulla nulla. Suspendisse ac iaculis lectus. Donec quis tempus tortor.
            </div>
        </div>
    </div>
    <div class="column">
        <div class="versus box">
            <div class="title"><a href="/play/versus"><span>Versus</span></a></div>
            <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida justo sit amet scelerisque pellentesque.
                    Aenean volutpat turpis nec sagittis commodo. Aliquam blandit dictum tincidunt. Fusce non molestie nunc.
                    Nulla ullamcorper varius tortor quis efficitur. In luctus, magna id ultricies mollis, ipsum sem volutpat ipsum,
                    at faucibus elit diam nec lectus. Proin non ultricies odio. Sed iaculis sodales nibh.
                    Aenean eu sapien in mi commodo venenatis. In vel placerat quam. Vivamus pulvinar massa at lacus euismod,
                    eget ornare orci scelerisque. Etiam in nulla nulla. Suspendisse ac iaculis lectus. Donec quis tempus tortor.
            </div>
        </div>
    </div>
    <div class="column">
        <div class="dices box">
            <div class="title"><a href="/play/dices"><span>Dices</span></a></div>
            <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida justo sit amet scelerisque pellentesque.
                    Aenean volutpat turpis nec sagittis commodo. Aliquam blandit dictum tincidunt. Fusce non molestie nunc.
                    Nulla ullamcorper varius tortor quis efficitur. In luctus, magna id ultricies mollis, ipsum sem volutpat ipsum,
                    at faucibus elit diam nec lectus. Proin non ultricies odio. Sed iaculis sodales nibh.
                    Aenean eu sapien in mi commodo venenatis. In vel placerat quam. Vivamus pulvinar massa at lacus euismod,
                    eget ornare orci scelerisque. Etiam in nulla nulla. Suspendisse ac iaculis lectus. Donec quis tempus tortor.
            </div>
        </div>
    </div>
</div>

<% include ./components/footer.ejs %>
