<% include ./components/header.ejs %>

<div class="container is-fluid">
    <div class="columns" id="index-app">
        <div class="column">
            <div class="info-box">
                <h1 class="title game-title is-3">Roulette</h1>
                <div class="content">
                    <h1 class="title info-title is-5">Unique players: {{rouletteTotalPlayers}}</h1>
                    <h1 class="title info-title is-5">Total wagered: {{rouletteTotalWagered}}</h1>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="info-box">
                <h1 class="title game-title is-3">Dice</h1>
                <div class="content">
                    <h1 class="title info-title is-5">Unique players: {{diceTotalPlayers}}</h1>
                    <h1 class="title info-title is-5">Total wagered: {{diceTotalWagered}}</h1>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="info-box">
                <h1 class="title game-title is-3">Versus</h1>
                <div class="content">
                    <h1 class="title info-title is-5">Unique players: </h1>
                    <h1 class="title info-title is-5">Total wagered: </h1>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    var protocol = window.location.protocol;
    var host = window.location.hostname;
    var port = window.location.port; 
    var IOName = 'index-details';
    
    var url = `${protocol}//${host}:${port}/${IOName}`;
    var indexIO = io(url);

    const app = new Vue({
        el:'#index-app',
        data:{
            rouletteTotalPlayers: undefined,
            rouletteTotalWagered: undefined,

            diceTotalPlayers: undefined,
            diceTotalWagered: undefined,
        },
        methods:{
        },
        mounted(){
            indexIO.on('sendRouletteData', function(data){
                app.rouletteTotalPlayers = data.totalPlayers.length;
                app.rouletteTotalWagered = data.totalWagered;
            });

            indexIO.on('sendDiceData', function(data){
                app.diceTotalPlayers = data.totalPlayers.length;
                app.diceTotalWagered = data.totalWagered;
            });
        }
    });
</script>

<style scoped>
#background {
    display: block;
    min-height: calc(100vh - 3.25rem);
    margin: 0px;
}
#background:after{
    content: "";
    z-index: -786;
    top: 0px;
    bottom: 0px;
    position: absolute;
    background-image: url('/theme-background.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: .85;
}

.columns{
    margin-top: 10px;
}

.game-title{
    text-align: center;
    width: 100%;
    padding: 20px 0px;
    color: white;
    background-color: #363636;
}

.game-title:hover{
    background-color: #292929;
    box-shadow: 0px -4px 0px #f98009 inset
}

.info-box{
    color: white;
    background-color: #5e5e5e;
}

.content .info-title{
    margin: 0px 10px;
    color: white;
}

.info-title:last-child{
    padding-bottom: 20px;
}


</style>

<% include ./components/footer.ejs %>
