<% include ./components/header.ejs %>

<div class="columns">
    <div class="column">
        <div class="roulette box">
            <div class="title"><a href="/play/roulette"><span>Roulette</span></a></div>
        </div>
    </div>
    <div class="column">
        <div class="versus box">
            <div class="title"><a href="/play/versus"><span>Versus</span></a></div>
        </div>
    </div>
    <div class="column">
        <div class="dices box">
            <div class="title"><a href="/play/dices"><span>Dices</span></a></div>
        </div>
    </div>
</div>

<% include ./components/footer.ejs %>
