<% include ./components/header.ejs %>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>

<div class="columns" id="login-app">
    <div class="column is-8 is-offset-2">
        <div class="box is-clearfix">
            <form action="/user/login" method="POST">
                <!-- Username field-->
                <div class="field">
                    <label class="label" for="username">Username</label>
                    <div class="control">
                        <input class="input" type="text" name="username" v-model="username" @input="matchVerify()">
                    </div>
                </div>

                <!-- Password field-->
                <div class="field">
                    <label class="label" for="password">Password</label>
                    <div class="control">
                        <input class="input" type="password" name="password" v-model="password" @input="matchVerify()">
                    </div>
                </div>
                <!-- Login button field-->
                <div class="field">
                    <button class="button is-primary" type="submit" :disabled='!disableBtn'>Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const app = new Vue({
        el: '#login-app',
        data:{
            username : null,
            password : null,

            disableBtn: false
        },
        methods:{
            matchVerify(){
                $.post('/user/login-validation', {
                    username:app.username,
                    password:app.password
                },function(data){
                    console.log(data);
                    if(data.error == false) app.disableBtn = true;
                    else app.disableBtn = false;
                });
            },
        }
    });
</script>

<% include ./components/footer.ejs %>