<% include ./components/header.ejs %>

<div class="colums">
    <div class="column is-8">
        <div class="colums">
            <div class="column is-one-third">
                smth
            </div>

            <div class="column is-4">
                smth
            </div>

            <div class="column is-4">
                smth
            </div>
        </div>
    </div>
</div>

<% include ./components/footer.ejs %>