<% include ./components/header.ejs %>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

<div class="columns" id="roulette-app">
    <div class="column">

    </div>
    <div class="column is-9 ">
        <div class="timer">{{timerMessage}}</div>
        <div id="roulette"><div class="winner"></div></div>
            <div class="columns">
                <div class="column">
                    <input class="input" id="amount" name="amount" type="text" value="0" v-model="amount">
                </div>
                <div class="column">
                    <button type="button" class="button" id="x2"><span>X*2</span></button>
                </div>
                <div class="column">
                    <button type="button" class="button" id="div2"><span>X/2</span></button>
                </div>
                <div class="column">
                    <button type="button" class="button" id="clear"><span>Clear</span></button>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <button type="submit" name="bet-option" class="button is-danger" value="red" :disabled="!activeBetting"  @click="Bet($event)"><span>Red</span></button>
                    <div class="active-players box">
                        <div class="red-players-username-box"></div>
                        <div class="red-players-amount-box"></div>
                    </div>
                </div>
                <div class="column">
                    <button type="submit" name="bet-option" class="button is-success" value="green" :disabled="!activeBetting" @click="Bet($event)"><span>Green</span></button>
                    <div class="active-players">
                        <div class="green-players-username-box"></div>
                        <div class="green-players-amount-box"></div>
                    </div>
                </div>
                <div class="column">
                    <button type="submit" name="bet-option" class="button is-black" value="black" :disabled="!activeBetting"  @click="Bet($event)"><span>Black</span></button>
                    <div class="active-players">
                        <div class="black-players-username-box"></div>
                        <div class="black-players-amount-box"></div>
                    </div>
                </div>
            </div>
            <input type="hidden" name='details'>
    </div>
</div>

<% include ./components/footer.ejs %>
<script>
    var myRoulette = io('http://localhost:3000/my-roulette', {forceNew: false});

    const app = new Vue({
    el: '#roulette-app',
    data:{
        timerMessage:null,
        timer: null,

        amount:0,

        activePlayers: [],

        winningNumber: undefined,
        activeBetting: undefined,

        allNumbers: [1,14,2,13,3,12,4,0,11,5,10,6,9,7,8],
    },
    methods:{
        Bet(event){
            let choosenColor = event.target.value;
            if(app.timer>=0 && !isNaN(app.amount)){
                console.log('bet works');
                myRoulette.emit('bet', {choosenColor: choosenColor, amount:app.amount});
            }
        },

        Spin(){
            let $roulette = $('#roulette');
            let $rouletteWidth = $roulette.width();
            let $rouletteNumberWidth = 75;
            let $roulettePosition;

            let positiveNumersHelper;
            let result = ($rouletteWidth / $rouletteNumberWidth) / Math.floor($rouletteWidth / $rouletteNumberWidth);

            let allNumbers = app.allNumbers;
            let positiveNumbers = [];
            let negativeNumbers = [];

            let winningNumber = app.winningNumber;

            if(result != 1) positiveNumersHelper = Math.floor($rouletteWidth / $rouletteNumberWidth / 2) + 1;
            else if(result == 1 ) positiveNumersHelper = result;

            for(let i = positiveNumersHelper -1 ; i>=0; i--){
                positiveNumbers.push(allNumbers[i]);
            }
            for(let i = positiveNumersHelper ; i< allNumbers.length; i++){
                negativeNumbers.push(allNumbers[i]);
            }

            if(positiveNumbers.includes(winningNumber)){
                let posHelper = positiveNumbers.indexOf(winningNumber) * 75;
                $roulette.addClass('roulette-spin');
                $roulette.css({'--spin': posHelper + (1125 * 8)});
                setTimeout(function(){
                    $roulette.css({'background-position-x': posHelper});
                    $roulette.removeClass('roulette-spin');
                },5000);
            }
            else if(negativeNumbers.includes(winningNumber)){
                let posHelper = negativeNumbers.indexOf(winningNumber) * 75 * -1;
                $roulette.addClass('roulette-spin');
                $roulette.css({'--spin': -75 + posHelper - (1125 * 8)});
                setTimeout(function(){
                    $roulette.css({'background-position-x': -75 + posHelper});
                    $roulette.removeClass('roulette-spin');
                },5000);
            }
        },

        emptyPlayers(){
            $('.red-players-username-box').empty();
            $('.red-players-amount-box').empty();
            $('.green-players-username-box').empty();
            $('.green-players-amount-box').empty();
            $('.green-players-username-box').empty();
            $('.green-players-amount-box').empty();
        },

        newPlayer(data){
            console.log(data);
            $('.'+data.newPlayer.choosenColor+'-players-username-box').append('<span class="username">'+data.newPlayer.username+'</span>');
            $('.'+data.newPlayer.choosenColor+'-players-amount-box').append('<span class="amount">'+data.newPlayer.amount+'</span>');
        },

        onMountPlayers(){
            if(this.activePlayers.length>0){
                this.activePlayers.forEach(function(activePlayer){
                    $('.'+activePlayer.choosenColor+'-players-username-box').append('<span class="username">'+activePlayer.username+'</span>');
                    $('.'+activePlayer.choosenColor+'-players-amount-box').append('<span class="amount">'+activePlayer.amount+'</span>');
                });
            }
        }
    },
    watch:{
        timer(){
            let $roulette = $('#roulette');
            if(app.timer>0){
                app.activeBetting = true;
            } 
            else app.activeBetting = false;

            if(app.timer==-9) this.emptyPlayers();
        },
    },

    mounted(){
        let activePlayers = this.activePlayers;

        myRoulette.on('sendPlayer', function(data){
            console.log(activePlayers);
            app.newPlayer(data);
            if(activePlayers.length==0) $('.active-players').show();
        });

        myRoulette.on('getPlayers', function(data){
            app.activePlayers = data.activePlayers;
            app.onMountPlayers()
        });

        myRoulette.on('sendData', function(data){
            app.timer = data.timer;
            app.timerMessage = data.timerMessage;
            app.activePlayers = data.activePlayers;
        });

        myRoulette.on('winningNumber', function(data){
            app.winningNumber = data.winningNumber;
            app.Spin();
        });

        if(this.activePlayers.length == 0) $('.active-players').hide();
        
    },
});

</script>

<style scoped>
    button{
        width:100%;
    }
    form{
        width: 100%;
    }

    .timer{
        text-align: center;
        margin-bottom: 10px;
    }
</style>