@import url('https://fonts.googleapis.com/css?family=Oswald|Quattrocento');

*{
    font-family: 'Quattrocento', serif;
}

span{
    width: 100px;
    text-align: center;
}

/* NAVBAR */

.navbar-user{
    transition: 3s;
    padding: 5px;
    color: white;
    background: linear-gradient(to right, #ffd700, #998100);
    border-radius: 5px;
}
.navbar-user:hover{
    transition: 3s;
    padding: 5px;
    color: white;
    background: linear-gradient(to right, #998100, #ffd700);
    border-radius: 5px;
}

/*GAMES NAVBAR*/

#navbar-roulette{
    padding: 5px;
    color: white;
    background: linear-gradient(to right, #d51d2a, #7f1119);
    border-radius: 5px;
}

#navbar-roulette:hover{
    color: white;
    background: linear-gradient(to right, #7f1119, #d51d2a);
}

#navbar-versus{
    padding: 5px;
    color: white;
    background: linear-gradient(to right, #a72b6b, #641940);
    border-radius: 5px;
}

#navbar-versus:hover{
    color: white;
    background: linear-gradient(to right, #641940, #a72b6b);
}

#navbar-dices{
    padding: 5px;
    color: white;
    background: linear-gradient(to right, #60bc39, #397022);
    border-radius: 5px;
}

#navbar-dices:hover{
    color: white;
    background: linear-gradient(to right, #397022, #60bc39);
}

/* NAVBARS */
.user-navbar{
    margin: 0;
    font-family: 
}

.play-navbar{
    margin-bottom: 1rem;
}

/* INDEX */

.title{
    text-align: center;
}

.roulette{
    background-color:#d51d2a;
}

.versus{
    background-color:#a72b6b;
}

.dices{
    background-color:#60bc39;
}

.roulette *, .versus *, .dices *{
    color: white;
}

/* LOGIN */
.login-button{
    color: white;
    background: linear-gradient(to right, #ffd700, #998100);
    border-radius: 5px;
}

.login-button:hover{
    color: white;
    background: linear-gradient(to right, #998100, #ffd700);
    border-radius: 5px;
}

/* SIGNUP */
.signup-button{
    color: white;
    background: linear-gradient(to right, #ffd700, #998100);
    border-radius: 5px;
}

.signup-button:hover{
    color: white;
    background: linear-gradient(to right, #998100, #ffd700);
    border-radius: 5px;
}


/* ROULETTE */

.winner{
    width:2px;
    height: 100%;
    background-color: rgb(128, 224, 18);
    margin: 0px auto;
}


#roulette{
    margin-bottom: 10px;
    height: 75px;
    background-image: url('/icons/roulette.png');
}


.roulette-spin{
    --spin: 0px;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes spin{
    0% {background-position:0px 0%}
    100% {background-position:var(--spin) 0%}
}