@import url('https://fonts.googleapis.com/css?family=Oswald|Quattrocento');

html, body{
    min-height: 100%;
    height: 100%;
    width: 100%;
}

*{
    font-family: 'Quattrocento', serif;
}

span{
    width: 100px;
    text-align: center;
}

/* NAVBAR */
.navbar{
    margin-bottom: 2vh;
}

.navbar-element{
    color: white;
}
.navbar-element:hover{
    box-shadow: 0px -4px 0px #f98009 inset
}

/* INDEX */

.roulette{
    background-color:#d51d2a;
}

.versus{
    height: 50%;
    background-image: url('/icons/versus-background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.dice{
    background-color:#60bc39;
}

.roulette *, .versus *, .dice *{
    color: white;
}

/* ROULETTE */

.winner{
    width:3px;
    height: 100%;
    background-color: #f98009;
    margin: 0px auto;
}


#roulette{
    margin-bottom: 10px;
    height: 75px;
    background-image: url('/icons/roulette.png');
}


.roulette-spin{
    --spin: 0px;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes spin{
    0% {background-position:0px 0%}
    100% {background-position:var(--spin) 0%}
}

/* COLORS */

.force-is-dark{
    background-color: #363636;
    border-color: transparent;
    color: #f5f5f5;
}

.force-is-dark *{
    color: #f5f5f5;
}