@import url('https://fonts.googleapis.com/css?family=Oswald|Quattrocento');

*{
    font-family: 'Quattrocento', serif;
}

/* NAVBAR */

.navbar-user{
    padding: 5px;
    color: black;
    background: linear-gradient(to right, rgb(252, 232, 122), #998100);
    border-radius: 5px;
}

/*GAMES NAVBAR*/

#navbar-roulette{
    transition: .25s;
    padding: 5px;
    color: white;
    background-color: #d51d2a;
    border-radius: 5px;
}

#navbar-roulette:hover{
    transition: .25s;
    background-color: #aa1721;
}

#navbar-versus{
    padding: 5px;
    color: white;
    background-color: #a72b6b;
    border-radius: 5px;
}

#navbar-versus:hover{
    transition: .25s;
    background-color: #852255;
}

#navbar-dices{
    padding: 5px;
    color: white;
    background-color: #60bc39;
    border-radius: 5px;
}

#navbar-dices:hover{
    transition: .25s;
    background-color: #4C962D;
}

/* NAVBARS */
.user-navbar{
    margin: 0;
    font-family: 
}

.play-navbar{
    margin-bottom: 1rem;
}

/* INDEX */

.title{
    text-align: center;
}

.roulette{
    background-color:#d51d2a;
}

.versus{
    background-color:#a72b6b;
}

.dices{
    background-color:#60bc39;
}

.roulette *, .versus *, .dices *{
    color: white;
}


/* ROULETTE */

.winner{
    width:2px;
    height: 100%;
    background-color: rgb(128, 224, 18);
    margin: 0px auto;
}


#roulette{
    margin-bottom: 10px;
    height: 75px;
    background-image: url('/icons/roulette.png');
}


.roulette-spin{
    --spin: 0px;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes spin{
    0% {background-position:0px 0%}
    100% {background-position:var(--spin) 0%}
}